*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    background-image: url("../images/bg.jpg");
}
body{
    width: 1020px;
    margin: auto;

}
header{
    background-color: black;
    text-transform: uppercase;

}

a {
    text-decoration: none;
    color: #7a7a7a;
}
#menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Bitter', serif;
    height: 60px;
}
header h1 p {
    height: 320px;
}

h1 {
    font-size: 133px;
    color: #cfa205;
    font-family: 'Josefin Sans', sans-serif;
}
header p {
    color: #cfa205;
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;

}
#social_nav {
    display: flex;
    justify-content:center;
    align-items: stretch;
    height: 60px;
    background-color: #e7e7e7;
}
#social_nav li {
    list-style-type: none;


}

i {
    color: #979797;
    width: 30px;
    height: 30px;
    text-align: center;
    padding-top: 3.5px;
    border: 3px solid #999999;
    border-radius: 50%;
    margin-left: 0.3em;


}
.ongletjaune{
    color: #cfa205;
}
main {
    background-color: white;
}
