*{
    margin: 0;
    padding: 0;
}
html{
    background-image: url("../images/bg.jpg");
}
body{
    width: 1020px;
    margin: auto;
}
header{
    background-color: black;
    text-transform: uppercase;
}
li a {
    text-decoration: none;
}
.ongletjaune{
    color: #cfa205;
}
main {
    background-color: white;
}
