*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    background-image: url("../images/bg.jpg");
}
body{
    width: 1020px;
    margin: auto;

}
header{
    background-color: black;
    text-transform: uppercase;

}

a {
    text-decoration: none;
    color: #7a7a7a;
}
#menu {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bitter', serif;
    height: 60px;
}
#menu li {
    margin-left: 1em;
}
header h1 p {
    height: 320px;

}

h1 {
    font-size: 133px;
    color: #cfa205;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
}
header p {
    color: #cfa205;
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    padding-bottom: 1.5em;

}
#social_nav {
    display: flex;
    justify-content:center;
    align-items: stretch;
    height: 60px;
    background-color: #e7e7e7;
    line-height: 60px;
}
#social_nav li {
    list-style-type: none;
}

i {
    color: #979797;
    width: 30px;
    height: 30px;
    text-align: center;
    padding-top: 3.5px;
    border: 3px solid #999999;
    border-radius: 50%;
    margin-left: 0.3em;
}
.ongletjaune{
    color: #cfa205;
}
main {
    background-color: white;
}
main p:first-child{
    font-size: 13px;
    color: #7a7a7a;
    text-align: center;
    padding: 3em 0;
    font-family:'Bitter', serif;
    width: 900px;
    margin: auto;

}
section{
    display: flex;
    justify-content: space-between;
    align-items: stretch;

}
article{
    margin: auto;
    flex-basis: auto;
    width: 25%;

}
h2{
    font-size: 20px;
    font-family:'Bitter', serif;
}
